@page
@model FlashBot.Admin.Pages.Tracks.TracksModel
@{
    ViewData["Title"] = "Tracks";
}

<div class="row">
    <div class="col-11">
        <h3 class="mb-3">@ViewData["Title"]</h3>
    </div>
    <div class="col-1">
        <a class="text-success" asp-page="./Create"><i class="fas fa-plus"></i></a>
    </div>
</div>
<small class="text-muted"><strong>Public:</strong> (@Model._extendedUser.Public_Tracks of @Model._extendedUser.Public_Tracks_Max)</small><br />
<small class="text-muted">
    <strong>Private:</strong> (@Model._extendedUser.Private_Tracks of @Model._extendedUser.Private_Tracks_Max) @if (Model._extendedUser.Private_Tracks >= Model._extendedUser.Private_Tracks_Max)
    {<strong><a asp-page="../Subscription">Upgrade</a></strong>}
</small>
<hr />
<div class="row">
    <div class="col-12">
        @if (Model._tracks.Count == 0)
        {
            <div class="text-center">
                <h5>No tracks, <a asp-page="./Create">create one</a>?</h5>
            </div>
        }
        else
        {
            @foreach (var track in Model._tracks)
            {
                <div class="card mb-3">
                    <h5 class="card-header">
                        @track.name
                        @if (track.is_private)
                        {<small><i class="fas fa-user-secret text-muted"></i></small>}
                    </h5>
                    <div class="card-body">
                        @if (track.has_image)
                        {<p><img src="http://127.0.0.1:10000/devstoreaccount1/tracks/@track.RowKey/thumb_mini.jpeg" /></p>
                            <p><img src="http://127.0.0.1:10000/devstoreaccount1/tracks/@track.RowKey/thumb.jpeg" /></p>}
                        <p class="card-text">@track.description</p>
                        <hr />
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3"><i class="fas fa-id-card text-muted mr-2"></i> Track ID</span>
                            <input value="@track.RowKey" class="form-control form-control-sm" autocomplete="off" disabled />
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3"><i class="fas fa-key text-muted mr-2"></i> Track key</span>
                            <input value="@Model._trackKey" class="form-control form-control-sm" autocomplete="off" disabled />
                        </div>
                        <br />
                        <div class="input-group">
                            <a class="btn btn-danger btn-sm mt-3" asp-page="./Delete" asp-route-id="@track.RowKey"><i class="fas fa-trash-alt"></i> Delete track</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
