@page
@model Abstrack.Admin.Pages.Tracks.TracksModel
@{
    ViewData["Title"] = "Tracks";
}

<div class="row">
    <div class="col-11">
        <h3 class="mb-3">@ViewData["Title"]</h3>
    </div>
    <div class="col-1">
        <a class="text-success" asp-page="./Create"><i class="fas fa-plus"></i></a>
    </div>
</div>
<small class="text-muted"><strong>Public:</strong> (@Model.ExtendedUser.Public_Tracks of @Model.ExtendedUser.Public_Tracks_Max)</small><br />
<small class="text-muted"><strong>Private:</strong> (@Model.ExtendedUser.Private_Tracks of @Model.ExtendedUser.Private_Tracks_Max)</small>
<hr />
<div class="row">
    <div class="col-12">
        @if (Model.Tracks.Count == 0)
        {
            <div class="text-center">
                <h5>No tracks, <a asp-page="./Create">create one</a>?</h5>
            </div>
        }
        else
        {
            @foreach (var track in Model.Tracks)
            {
                <div class="card mb-3">
                    <h5 class="card-header">
                        @track.name @if (track.is_private)
                        {<small><i class="fas fa-user-secret text-muted"></i></small>}
                    </h5>
                    <div class="card-body">
                        <p class="card-text">@track.description</p>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3"><i class="fas fa-key text-muted mr-2"></i> Track key</span>
                            <input value="@track.track_key" class="form-control form-control-sm" autocomplete="off" disabled />
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3"><i class="fab fa-expeditedssl text-muted mr-2"></i> Track secret</span>
                            <input value="@track.track_secret" class="form-control form-control-sm" autocomplete="off" disabled />
                        </div>
                        <div class="input-group">
                            <a class="btn btn-danger btn-sm mt-3" asp-page="./Delete" asp-route-id="@track.RowKey"><i class="fas fa-trash-alt"></i> Delete track</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
